<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<!-- Our STATIC HTML displayed on every page -->
<body class="site">
<!--  <div class="flex-column justify-space-around site"> -->
    
    <header class="display-flex justify-space-between align-center p-4 bg-primary jumbotron">
      <h1 class="text-white bg-dark">The Tech Blog</h1>
      <nav>
        <a class="mr-5" href="/">Home</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="mr-5" href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a class="mr-5" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

    <main class="container container-fluid mt-5 site-content">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer class="jumbotron footer"></footer>
<!--  </div> -->

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <!--  <script src="/js/logout.js"></script> -->
  {{/if}}
</body>

</html>
