<div class="container container-fluid mt-5">

    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
    <a class="text-darkblue" href="/signup">Don't have an author account yet? Click here to sign up!</a>

</div>

<script src="./js/login.js"></script>
