header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

h2 {
  color: #193875;
}

h2 a {
  color: #193875;
}

nav a {
  font-weight: 900;
  font-size: 150%;
  color: white;
  background-color: #142340;
  padding: 8px;
  border-radius: 15%;
}

nav a:hover {
  background-color: #59DFEA;
  color: #142340;
  text-decoration: none;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.jumbotron {
  background-image: url('../img/techbg.png');
  width: 100%;
  height: 100px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}